<div id="footer-stats">
<a href="https://visitorbadge.io/status?path=https%3A%2F%2Flike-my-ride.herokuapp.com%2F"><img  class="stats" src="https://api.visitorbadge.io/api/visitors?path=https%3A%2F%2Flike-my-ride.herokuapp.com%2F&countColor=%23263759" /></a>
</div>
</body>
</html>
