  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <a class="top-left" href="">Popular <br> Brands</a>
    <a class="top-left" href="">Popular <br> Colors</a>
    <a class="top-left" href="">Newest/<br> Oldest</a>
    <a class="top-left" href="">For Sale</a>
    <a class="top-left" href="/">All Cars</a>
    <% if (user?.profile.avatar) { %>
      <div>
        <a class="google" href="/cars/new">
          <button id="add-car" type="submit">Add Car</button>
        </a>
      </div>
      <div>
        <img class="avatar"
          src="<%= user.profile.avatar %>"
          alt="<%= user.profile.name %> avatar"
        />
      </div>
    <% } %>
    <% if (user) { %>
      <a class="google" href="/auth/logout">
        <button id="logout" type="submit">Logout</button>
      </a>
    <% } else { %>
      <a class="google" href="/auth/google" class="siwg-link">
        <button id="google-btn" type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
