<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/cars/new.css"/>
<%- include('../partials/nav') %>
<div class="background">

<main>
  <h1>Add new car</h1>
<!-- <% if(user) { %> -->
  <form action="/cars" method="POST">
    <label> Make:
      <br>
      <input type="text" name="brand" autocomplete="off">
    </label>
    <label> Model:
      <br>
      <input type="text" name="model" autocomplete="off">
    </label>
    <label> Year:
      <br>
      <input type="text" name="year" autocomplete="off">
    </label>
    <label> Color:
      <br>
      <input type="text" name="color" autocomplete="off">
    </label>
    <label> For Sale:
      <input type="checkbox" name="forSale">
    </label>
    <label> Your Dream car:
      <br>
      <input type="text" name="dream">
    </label>
    <label for="feedback-select"> Rate your car: </label>
    <select name="feedback" id="feedback-select">
      <option value="Great car">Great Car</option>
      <option value="Good car">Good Car</option>
      <option value="Ok car">Ok car</option>
      <option value="Bad car">Bad car</option>
    </select>
    <label> Few words about your ride:
    <br>
    <br>
      <textarea id="owner-review" type="text" name="driverNote" cols="30" rows="10"></textarea>
      <!-- <input id="owner-review" type="text" name="driverNote"> -->
    </label>
    <button class="add-edit-car" type="submit" >Add a car</button>
  </form>
<!-- <% } %> -->
</main>

</div>
<%- include('../partials/footer') %>